{% extends 'header.html' %}
{% block content %}
{% include 'navbar.html' %}
<section class="event-block">
            <div class="gap gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row merged20" id="page-contents">
                                <div class="col-lg-12">
                                    <div class="central-meta">
                                   <h3>{{gallery.title}}</h3>
                                    <p>{{gallery.desc}}</p> 
                                   
                                    
                                        <ul class="photos">
                                            {% for phot in photos %}
                                            <li>
                                                <a class="strip" href="/static/images/{{phot.photo}}" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
                                                    <img src="/static/images/{{phot.photo}}" alt=""></a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                         
                                        <div class="lodmore">
                                            <button class="btn-view btn-load-more"></button>
                                        </div>
                                    </div>
                                    <!-- photos -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endblock  %}