{% extends 'header.html' %}
{% block content %}
<div class="theme-layout">
	<div class="postoverlay"></div>
	
	{% include "navbar.html" %}
	<script>
		$(document).ready(function () {
  $('.carousel-inner').find('.carousel-item').first().addClass('active');
});
	</script>
	<div id="demo" class="carousel slide" data-ride="carousel">

          <!-- The slideshow -->
		  
           <div class="carousel-inner">
		   {% for banner in banners%}
            <div class="carousel-item">
              <img src="/static/images/{{banner.img}}" alt="Los Angeles">
            </div>
			{%endfor%}
          </div>
		
 
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
		
	<section>
		<div class="gap gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="merged20" id="page-contents">
							    <div class="bnr-img">
									<div class="row m-top20 mrgn0">
										<div class="col-md-3 col-xs-6">
											<a href="/suggest"><img src="/static/images/1.png" /></a>
										</div>
										<div class="col-md-3 col-xs-6">
											<a href="/perform"><img src="/static/images/2.png" /></a>
										</div>
										<div class="col-md-3 col-xs-6">
											<a href="/announce"><img src="/static/images/3.png" /></a>
										</div>
										<div class="col-md-3 col-xs-6">
											<a href="/event"><img src="/static/images/4.png" /></a>
										</div>
									</div>
								</div>

								<span class="visible-xs">
									{% include 'ads.html'%}
								</span>

							<div class="col-lg-9 mrgn-padding">
								<div class="central-meta new-pst">
									<div class="new-postbox">
										  <figure>
											{% if profi.profile_photo %}
											<img src="/static/images/{{profi.profile_photo}}" alt="" width="50px" height="50px">
											{% else %}
											<img src="/static/images/Profile/blank_profile.png" alt="" width="50px" height="50px">
											{% endif %}
											<input type="text" value="{{user.username}}" class="post-input hidden-xs" id="username" name="username">
										</figure>
										<div class="newpst-input">
											<form method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                          
												<textarea name="description"  maxlength="200" id="id_description" spellcheck="false" placeholder="Write Something (Word Limit 200)" required></textarea>
												<div class="attachments">
													<ul>
														<li>
															<img id="blah" alt="" src="" width="100" height="100" />
															</label>
														</li>
														<li>
															<i class="fa fa-image"></i>
															<label class="fileContainer">
																<input type="file" name="photo" id="photo" onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])">
															</label>
														</li>
														<li>
															<i class="fa fa-video-camera"></i>
															<label class="fileContainer">
																<input type="file" name="video" id="video">
															</label>
														</li>
														<!--<li>
															<i class="fa fa-camera"></i>
															<label class="fileContainer">
																<input type="file">
															</label>
														</li>-->
														<li>
															<input type="submit" name="submit" value="Post" class="signup-rgstr">
														</li>
													</ul>
												</div>
											</form>
										</div>
									</div>
								</div><!-- add post new box -->
								<div class="loadMore">
								{% for prof in post %}
								<div class="central-meta item">
									<div class="user-post">
										<div class="friend-info">
										{% if prof.profile.profile_photo %}
											<img src="static/images/{{ prof.profile.profile_photo }}" alt="" width="50px" height="50px">
											{% else %}
											<img src="/static/images/Profile/blank_profile.png" alt="" width="50px" height="50px">
											{% endif %}
											<div class="friend-name">
												<ins><a href="#" title="">{{prof.username}}</a></ins>
												<span>{{prof.date_published}}</span>
												{% if user.username == prof.username%}
												<a href="{% url 'app:remove_discuss' prof.discuss_id %}" onClick="return confirm('Are you sure you want to delete this Post?');" class="ti-trash"></a>
												{% endif %}
											</div>
											<div class="description">
													
													<p>
														{{prof.description}}
													</p>
												</div>	
											<div class="post-meta">
												{% if prof.photo %}
												<img src="/static/images/{{prof.photo}}" alt="" width="300px" height="300px">
												{% endif %}
												{% if prof.video %}
												<video width="300px" height="300px" controls>
												<source src="/static/images/{{prof.video}}">
												</video>
												{% endif %}
												<div class="we-video-info">
													<ul>
														<!--<li>
															<span class="comment" data-toggle="tooltip" title="Comments">
																<i class="fa fa-comments-o"></i>
																<ins>52</ins>
															</span>
														</li>-->
														<li>
															<li>
<span class="like" data-toggle="tooltip" title="" data-original-title="like">
<i class="ti-heart"></i>
<br>
<ins id="like_count-{{prof.discuss_id}}">{{prof.num_likes}}</ins>
</span>
																{% if user not in prof.liked.all %}
																<button type="submit" value="{{prof.discuss_id}}" id="like_button-{{prof.discuss_id}}">Like</button>
																{% else %}
																<button type="submit" value="{{prof.discuss_id}}" id="like_button-{{prof.discuss_id}}">Unlike</button>
																{% endif %}
																<script>
$(document).on('click', '#like_button-{{prof.discuss_id}}', function(e){
	e.preventDefault();
	$.ajax({
		url:"{% url 'app:like_unlike_post' %}",
		type: "POST",
		async: false,
		cache: false,
		data: {'prof_id': $('#like_button-{{prof.discuss_id}}').val(), 'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(), action: 'post'},
		success: function(json, e){
			document.getElementById("like_count-{{prof.discuss_id}}").innerHTML = json['count']
			var like_val = document.getElementById("like_button-{{prof.discuss_id}}").innerHTML = json['liked']
			if (like_val == true){
				document.getElementById("like_button-{{prof.discuss_id}}").innerHTML = 'Unlike'
			}
			else {
				document.getElementById("like_button-{{prof.discuss_id}}").innerHTML = 'Like'
			}
			console.log(json)
		}, error: function(error){
			console.log(error)
			console.log("error")
		}
	});
})
</script>
															</span>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="coment-area">
											<ul class="we-comet">
											<div class="we_comet-{{prof.discuss_id}}">
											{% for disc in prof.comment_set.all %}
												<li>
													<div class="comet-avatar">
														{% if disc.userComment.profile_photo %}
											<img src="/static/images/{{disc.userComment.profile_photo}}" alt="" width="50px" height="50px">
											{% else %}
											<img src="/static/images/Profile/blank_profile.png" alt="" width="50px" height="50px">
											{% endif %}
													</div>
													<div class="we-comment">
														<div class="coment-head">
															<h5><a href="time-line.html" title=""></a>{{disc.userComment}}</h5>
															<span>{{disc.created}}</span>
															{% if user.username == disc.discuss.username or user.userprofile == disc.userComment %}
												<a href="{% url 'app:remove_comment' disc.id %}" class="ti-trash" onClick="return confirm('Are you sure you want to delete this Comment?');"></a>
												{% endif %}
															</div>
														<p>{{disc.comment}}</p>
													</div>
												</li>
												{% endfor %}
												</div>
												<li>
													<a href="#" title="" class="showmore underline">more comments</a>
												</li>
												<li class="post-comment">
													<div class="comet-avatar">
													{% if profi.profile_photo %}
											<img src="/static/images/{{profi.profile_photo}}" alt="" width="50px" height="50px">
											{% else %}
											<img src="/static/images/Profile/blank_profile.png" alt="" width="50px" height="50px">
											{% endif %}
													</div>
													<div class="post-comt-box">
														<form>
														<input type="hidden" id="prof_comment{{prof.discuss_id}}" name="prof_id" value="{{prof.discuss_id}}">
															<textarea placeholder="Post your comment" name="comment_post" id="{{prof.discuss_id}}"></textarea>
															<div class="add-smiles">
																<span class="em em-expressionless" title="add icon"></span>
															</div>
															<div class="smiles-bunch">
																<i class="em em---1"></i>
																<i class="em em-smiley"></i>
																<i class="em em-anguished"></i>
																<i class="em em-laughing"></i>
																<i class="em em-angry"></i>
																<i class="em em-astonished"></i>
																<i class="em em-blush"></i>
																<i class="em em-disappointed"></i>
																<i class="em em-worried"></i>
																<i class="em em-kissing_heart"></i>
																<i class="em em-rage"></i>
																<i class="em em-stuck_out_tongue"></i>
															</div>
															<button id="btn_comment{{prof.discuss_id}}" type="button">Submit</button>
														</form>	
														<script>
														$(document).ready(function(){
															$('#btn_comment{{prof.discuss_id}}').on('click', function(e){
																e.preventDefault();
																comm = $('#{{prof.discuss_id}}').val();
																console.log(comm)
																$.ajax({
																	type: "POST",
																	url: "{% url 'app:comment_post' %}",
																	async: false,
																	cache: false,
																	data: {'comment_post': $('#{{prof.discuss_id}}').val(),
																			'prof_id':$('#prof_comment{{prof.discuss_id}}').val(),
																		'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
																		action: 'post'
																	},
																	success: function(){
																		$('#{{prof.discuss_id}}').val('');
																		var _html = '<li>\
													<div class="comet-avatar">\
											<img src="/static/images/{{disc.userComment.oser.profile_photo.url}}" alt="" width="50px" height="50px">\
													</div>\
													<div class="we-comment anim_comet">\
														<div class="coment-head">\
															<h5><a href="time-line.html" title=""></a>{{request.user}}</h5>\
															<span>now</span>\
														</div>\
														<p id="disc_comment">'+comm+'</p>\
													</div>\
												</li>';
												$(".we_comet-{{prof.discuss_id}}").append(_html);
																	}, error: function(error){
			console.log(error)
			console.log("error")
		}
																});
															});
														});
														</script>
													</div>
												</li>
											</ul>
										</div>
									</div>
                               
								</div>
								 {% endfor %}
								</div>
							</div><!-- centerl meta -->
								<span class="hidden-xs">
									{% include 'ads.html'%}
								</span>
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	 <!-- footer -->
        <footer>
            <div class="bottombar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="copyright">© AIPL Parivaar 2020. All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
</div>
{% endblock %}