{% extends 'header.html' %}
{% block content %}
{% include 'navbar.html' %}
<img src="/static/images/offer-banner.jpg">

<section>
            <div class="gap gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="merged20" id="page-contents">
                                <div class="bnr-img">
                                    <div class="row m-top20">
                                        <div class="col-md-3 col-xs-6">
                                                <img src="/static/images/offer/coupon1.png" />
                                        </div>
                                        <div class="col-md-3 col-xs-6">
                                                <img src="/static/images/offer/coupon2.png" />
                                        </div>
                                        <div class="col-md-3 col-xs-6">
                                               <img src="/static/images/offer/coupon3.png" />
                                        </div>
                                        <div class="col-md-3 col-xs-6">
                                                <img src="/static/images/offer/coupon4.png" />
                                        </div>
                                        <div class="col-md-3 col-xs-6">
                                                <img src="/static/images/offer/coupon5.png" />
                                        </div>
                                        <div class="col-md-3 col-xs-6">
                                                <img src="/static/images/offer/coupon6.png" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}
