{% extends 'header.html' %}

{% block content %}
 <div class="theme-layout register-block forget-block">
        <div class="container-fluid pdng0">
            <div class="row merged">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="land-featurearea">
                        <div class="land-meta">
                            <!--<h1>Aipl Parivaar</h1>-->
                            <img src='/static/images/logo.png' />
                            
                            <!--<div class="friend-logo">
                                <span>
                                    <img src="images/wink.png" alt=""></span>
                            </div>-->
                        </div>
                    </div>
                </div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="login-reg-bg">
                        <div class="log-reg-area sign">
                            <h2 class="log-title">Forgot password</h2>
                           <!-- <p>
                                Don’t use Winku Yet? <a href="#" title="">Take the tour</a> or <a href="#" title="">Join now</a>
                            </p>-->
  <form method="post">
    {% csrf_token %}
    {{ form}}
	 <div class="submit-btns">
    <button class="mtr-btn" type="submit" name="send email">Submit</button>
	</div>
  </form>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
{% endblock %}