{% extends 'header.html' %}
{% block content %}
<div class="theme-layout">
	
	
		{% include "navbar.html" %}

	<section>
		<div class="feature-photo">
			<figure><img src="/static/images/cover/cover.jpg" alt=""></figure>
			<div class="container-fluid">
				<div class="row merged">
					<div class="col-lg-2 col-sm-3 col-xs-5">
						<div class="user-avatar">
							<figure>
                            {% if profile.profile_photo %}
								<img src="/static/images/{{profile.profile_photo}}" alt="">
                                {% else %}
                                <img src="/static/images/Profile/blank_profile.png" alt="">
                                {% endif %}
							</figure>
						</div>
					</div>
					<div class="col-lg-10 col-sm-9 col-xs-7">
						<div class="timeline-info">
							<ul>
								<li class="admin-name">
								  <h5>{{profile.user.first_name}} {{profile.user.last_name}}</h5>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area -->
		
	<section>
		<div class="gap gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							
							<div class="col-lg-9">
								<div class="central-meta">
									<div class="about">
										<div class="personal">
											<h5 class="f-title"><i class="ti-info-alt"></i> Personal Info</h5>
											<p>
												{{profile.about}}
											</p>
										</div>
										<div class="d-flex flex-row mt-2">
											<ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" >
												<li class="nav-item">
													<a href="#basic" class="nav-link active" data-toggle="tab" >Basic info</a>
												</li>
												<li class="nav-item">
													<a href="#location" class="nav-link" data-toggle="tab" >location</a>
												</li>
												<li class="nav-item">
													<a href="#work" class="nav-link" data-toggle="tab" >About</a>
												</li>
												<li class="nav-item">
													<a href="#interest" class="nav-link" data-toggle="tab"  >Department</a>
												</li>
												<li class="nav-item">
													<a href="#lang" class="nav-link" data-toggle="tab" >languages</a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane fade show active" id="basic">
													<ul class="basics">
														<li><i class="ti-user"></i>{{profile.user.username}}</li>
														<li><i class="ti-heart"></i>{{profile.aniversary}}</li>
														<li><i class="ti-mobile"></i>{{profile.phone_number}}</li>
														<li><i class="ti-email"></i><a href="mailto:">{{profile.user.email}}</a></li>
														<li><i class="ti-world"></i>{{profile.web_address}}</li>
													</ul>
												</div>
												<div class="tab-pane fade" id="location" role="tabpanel">
													<div class="location-map">
														<div id="map-canvas"></div>
													</div>
												</div>
												<div class="tab-pane fade" id="work" role="tabpanel">
													<div>
														
														<a href="#" title="">Envato</a>
														<p>work as autohr in envato themeforest from 2013</p> 
														<ul class="education">
															<li><i class="ti-facebook"></i> BSCS from Oxford University</li>
															<li><i class="ti-twitter"></i> MSCS from Harvard Unversity</li>
														</ul>
													</div>
												</div>
												<div class="tab-pane fade" id="interest" role="tabpanel">
													<ul class="basics">
														<li>Footbal</li>
														<li>internet</li>
														<li>photography</li>
													</ul>
												</div>
												<div class="tab-pane fade" id="lang" role="tabpanel">
													<ul class="basics">
														<li>english</li>
														<li>french</li>
														<li>spanish</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>	
							</div><!-- centerl meta -->
							
							 {% include 'ads.html'%}
                                <!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

 <!-- footer -->
        <footer>
            <div class="bottombar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="copyright">© AIPL Parivaar 2020. All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
	
{% endblock  %}