<!DOCTYPE html>
<html>
<head>
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<script src="https://kit.fontawesome.com/a9b6da2256.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/report.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/jquery.simplePagination.js' %}"></script>
</head>
<body>
{% block content %}
{% endblock %}
<script src="{% static 'js/search.js' %}"></script>
</body>
</html>