{% extends 'header.html' %}
{% block content %}
{% include 'navbar.html' %}
<img src="/static/images/suggestion-banner.jpg">
<section>
            <div class="gap gray-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row merged20" id="page-contents">
                                <div class="col-md-12 col-xs-12">
                                    <div class="central-meta">
                                        <div class="editing-info">
                                            <h5 class="f-title"><i class="ti-info-alt"></i>Terms & Conditions</h5>
                                            <ul>
                                                <li>You can give as many suggestions, you want</li>
                                                <li>Each suggestion should be on a separate sheet</li>
                                                <li>Please mention your Name, Designation, Office location</li>
                                                <li>The suggestion should be in English or Hindi language only</li>
                                                <li>It should be simple and easy to understand</li>
                                                <li>If posibble, assign responsibility</li>
                                                <li>It should clearly define - "what should be done" and "what will be the result"</li>
                                                <li>Please do not preach</li>
                                                <li>It should not be a complaint</li>
                                                <li>It should not be about Salary</li>
                                                <li>It should be IMPLEMENTABLE</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-9">
                                    <div class="central-meta">
                                        <div class="editing-info">
                                            <h5 class="f-title"><i class="ti-info-alt"></i>Upload Your Suggestions</h5>

                                            <form method="post">
                                            {% csrf_token %}

                                                <div class="form-group half">
                                                    <input type="text" name="emp_code" maxlength="200" id="id_emp_code" required>
                                                    <label class="control-label" for="input">Employee Code</label><i class="mtrl-select"></i>
                                                </div>

                                                <div class="form-group">
                                                    <input type="text" name="subject" maxlength="200" id="id_subject" required>
                                                    <label class="control-label" for="input">Subject</label><i class="mtrl-select"></i>
                                                </div>

                                                <div class="form-group">
                                                    <textarea name="message" rows="4" maxlength="500" id="id_message" required></textarea>
                                                    <label class="control-label" for="textarea">Suggestion Description</label><i class="mtrl-select"></i>
                                                </div>
                                                <div class="submit-btns">
                                                    <input type="submit" name="submit" value="submit">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- centerl meta -->
                           
                             {% include 'ads.html'%}
                                <!-- sidebar -->
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock  %}